$bdrds: 3px;

$white: #fff;
$black: #000;
$gray: #ccc;
$salmon:rgba(244, 159, 133,1);
$smoky-black: rgba(#222222, .85);

$ff: 'Montserrat', sans-serif;
$ff-body: 12px;
$ff-light: 300;
$ff-regular: 400;
$ff-medium: 500;